LOG_LEVEL="INFO"
LOG_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"
NATS_URL="nats://localhost:4222"
RANKER_READINESS_TIME_OUT="500"
QDRANT_HOST="localhost"
QDRANT_PORT="6333"
QDRANT_COLLECTION_NAME="news_events"
EMBEDDING_MODEL_NAME="all-MiniLM-L6-v2"
