LOG_LEVEL=INFO
LOG_FORMAT='%(asctime)s - %(name)s - %(levelname)s - %(message)s'

NATS_URL=nats://localhost:4222
NATS_RECONNECT_TIME_WAIT=10
NATS_CONNECT_TIMEOUT=10
NATS_MAX_RECONNECT_ATTEMPTS=60

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=news_events

EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2

INSPECTOR_READINESS_TIME_OUT=500


LLM_PROVIDER="openai"
LLM_MODEL_NAME="your_model_name"
OPENAI_API_KEY="your_api_key_here"
ANTHROPIC_API_KEY="your_api_key_here"
