DATABASE_URL="postgresql://user:password@host:5432/dbname"
LOG_LEVEL="INFO"
LOG_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"
NATS_URL="nats://localhost:4222"
SCHEDULER_NATS_URL="nats://localhost:4222"
API_READINESS_TIME_OUT="500"
